<footer class="footer">
<div class="footer__form">
	<div class="container">
		<div class="form r">
			<div class="form__name">
				<span>ОСТАЛИСЬ ВОПРОСЫ?</span>
Расскажите о своей проблеме и мы поможем с решением!
			</div>
		<form action="">
			<div class="input-group">
			<label for="tel"></label>
				<input type="text" name="telno" id="tel" placeholder="Ваш номер телефона">
			</div>
			<div class="button r">
				<input type="submit" value="заказать">
			</div>
		</form>
		</div>
	</div>	
</div>
	<div class="copyright">
		<div class="container">
			<p class="copy l">
				Copyright © 2015 Tolmachev & Co
			</p>
			<p class="devolop r">
				Developer Alexandr.vic
			</p>
		</div>
	</div>
</footer>