<header class="header">
<div class="work_box">
	<div class="container">
	<div class="work r">
		с 10 до 18 без выходных
	</div>
	</div>
</div>
<div class="top_box">
<div class="container">
			<div class="logo l">
			<a href="">
				<img src="img/logo.png" alt="">
				<h3>Вежа</h3>
			</a>
		</div>
		<div class="callback r">
			<div class="item">
			<div class="tel">
				+7 910 317 13 83
			</div>
			</div>
			<div class="item">
				<a href="" class="button">Заказать звонок</a>
			</div>
		</div>	
	</div>
</div>
<div class="info">
	<div class="container">
		<h1>Гарантия <span>защиты</span> Ваших прав</h1>
		<div class="bottom">
			<a href="#news" class="down page-scroll">
		</a>
		</div>
		
	</div>
</div>
<div class="form">
	<div class="container">
		<div class="info l">
			<h3>Закажите звонок</h3>
			<span>
				 для консультации у специалиста
			</span>	
		</div>
		<form action="">
			<div class="input-group">
			<label for="tel"></label>
				<input type="text" name="telno" id="tel" placeholder="Ваш номер телефона">
			</div>
			<div class="button r">
				<input type="submit" value="заказать">
			</div>
		</form>
	</div>
</div>

</header>