<div class="news" id="news">
	<div class="news__list">
	<a href="#reviews" class="down page-scroll">
		</a>
		<div class="news__list_item">
			<div class="container">
				<div class="item">
				<div class="box">
							<div class="title">Юридическая помощь автовладельцам</div>
					<div class="text">
						<p>Если Вы стали участником ДТП, Ваш автомобиль получил повреждения или возникли сложности со страховой компанией - звоните нам!
</p>
	<ul>
		<li>- Бесплатная консультация по вопросам, связанным со страховыми компаниями, автосервисами и автосалонами;</li>
		<li>- Решение сопров по гаранти автомобилей;</li>
		<li>- Помощь в урегулировании споров со страховыми компаниями, которые задерживают выплаты, занижаюр размер выплаты или отказываются платить;</li>
		<li>- Разрешение споров по некачественно проведенному ремонту авто;</li>
		<li>- Решение споров по ОСАГО, КАСКО;</li>
		<li>- Помощь в урегулировании вопросов при ДТП</li>
	</ul>
					</div>
				</div>
			
				</div>
				<div class="item t">
					<div class="image r">
						<img src="img/layer1.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="news__list_item">
			<div class="container">
				<div class="item t">
					<div class="image">
						<img src="img/layer1.png" alt="">
					</div>
				</div>
				<div class="item">
				<div class="box">
							<div class="title">Юридическая помощь автовладельцам</div>
					<div class="text">
						<p>Если Вы стали участником ДТП, Ваш автомобиль получил повреждения или возникли сложности со страховой компанией - звоните нам!
</p>
	<ul>
		<li>- Бесплатная консультация по вопросам, связанным со страховыми компаниями, автосервисами и автосалонами;</li>
		<li>- Решение сопров по гаранти автомобилей;</li>
		<li>- Помощь в урегулировании споров со страховыми компаниями, которые задерживают выплаты, занижаюр размер выплаты или отказываются платить;</li>
		<li>- Разрешение споров по некачественно проведенному ремонту авто;</li>
		<li>- Решение споров по ОСАГО, КАСКО;</li>
		<li>- Помощь в урегулировании вопросов при ДТП</li>
	</ul>
					</div>
				</div>
			
				</div>
			
			</div>
		</div>
		<div class="news__list_item">
			<div class="container">
				<div class="item">
				<div class="box">
							<div class="title">Юридическая помощь автовладельцам</div>
					<div class="text">
						<p>Если Вы стали участником ДТП, Ваш автомобиль получил повреждения или возникли сложности со страховой компанией - звоните нам!
</p>
	<ul>
		<li>- Бесплатная консультация по вопросам, связанным со страховыми компаниями, автосервисами и автосалонами;</li>
		<li>- Решение сопров по гаранти автомобилей;</li>
		<li>- Помощь в урегулировании споров со страховыми компаниями, которые задерживают выплаты, занижаюр размер выплаты или отказываются платить;</li>
		<li>- Разрешение споров по некачественно проведенному ремонту авто;</li>
		<li>- Решение споров по ОСАГО, КАСКО;</li>
		<li>- Помощь в урегулировании вопросов при ДТП</li>
	</ul>
					</div>
				</div>
			
				</div>
				<div class="item t">
					<div class="image r">
						<img src="img/layer1.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="news__list_item">
			<div class="container">
				<div class="item t">
					<div class="image">
						<img src="img/layer1.png" alt="">
					</div>
				</div>
				<div class="item">
				<div class="box">
							<div class="title">Юридическая помощь автовладельцам</div>
					<div class="text">
						<p>Если Вы стали участником ДТП, Ваш автомобиль получил повреждения или возникли сложности со страховой компанией - звоните нам!
</p>
	<ul>
		<li>- Бесплатная консультация по вопросам, связанным со страховыми компаниями, автосервисами и автосалонами;</li>
		<li>- Решение сопров по гаранти автомобилей;</li>
		<li>- Помощь в урегулировании споров со страховыми компаниями, которые задерживают выплаты, занижаюр размер выплаты или отказываются платить;</li>
		<li>- Разрешение споров по некачественно проведенному ремонту авто;</li>
		<li>- Решение споров по ОСАГО, КАСКО;</li>
		<li>- Помощь в урегулировании вопросов при ДТП</li>
	</ul>
					</div>
				</div>
			
				</div>
			
			</div>
		</div>
	</div>
</div>