<div class="promo__box">
	<div class="container">
		<div class="list">
			<div class="item">
				<div class="box">
					<div class="info">
					<div class="info_wrap">
						11</br> <span>лет</span> 
					</div>	
					</div>
					<div class="text">
						Опыт работы
					</div>
				</div>
			</div>
			<div class="item">
				<div class="box">
					<div class="info">
					<div class="info_wrap">
						<span>Более</span></br> 570
					</div>
					</div>
					<div class="text">
						Выигрышных дел 
					</div>
				</div>
			</div>
			<div class="item">
				<div class="box">
					<div class="info">
					<div class="info_wrap">
						83% <span>Споров</span>
					</div>
					</div>
					<div class="text">
						Решено в пользу клиентов
					</div>
				</div>
			</div>
			<div class="item">
				<div class="box">
					<div class="info">
					<div class="info_wrap">
						29<span>млн. рублей</span>
					</div>	
					</div>
					<div class="text">
						Уже выплачено моим клиентам
					</div>
				</div>
			</div>
		</div>
	</div>
</div>