<div class="reviews" id="reviews">
	<a href="#" class="down"></a>
	<div class="container">
		<div class="title">
			Результаты нашей работы
		</div>
		<div class="reviews__list">
			<div class="reviews__list_item">
			<div class="content">
				<div class="comment">
				<div class="text">
					Wisi enim ad minim veniam, quis nostrud exerci tation ullamcorp
				</div>
				</div>
				<div class="info">
					<div class="img l">
						<img src="img/autor.png" alt="">
					</div>
					<div class="sub__info l">
						<div class="name">Александр Никифоров</div>
					<div class="role">Решение спора  по ДТП</div>
					</div>	
					
				</div>
			</div>
			</div>
			<div class="reviews__list_item">
			<div class="content">
				<div class="comment">
				<div class="text">
					Wisi enim ad minim veniam, quis nostrud exerci tation ullamcorp
				</div>
				</div>
				<div class="info">
					<div class="img l">
						<img src="img/autor.png" alt="">
					</div>
					<div class="sub__info l">
						<div class="name">Александр Никифоров</div>
					<div class="role">Решение спора  по ДТП</div>
					</div>	
					
				</div>
			</div>
			</div>
			<div class="reviews__list_item">
			<div class="content">
				<div class="comment">
				<div class="text">
					Wisi enim ad minim veniam, quis nostrud exerci tation ullamcorp
				</div>
				</div>
				<div class="info">
					<div class="img l">
						<img src="img/autor.png" alt="">
					</div>
					<div class="sub__info l">
						<div class="name">Александр Никифоров</div>
					<div class="role">Решение спора  по ДТП</div>
					</div>	
					
				</div>
			</div>
			</div>
			<div class="reviews__list_item">
			<div class="content">
				<div class="comment">
				<div class="text">
					Wisi enim ad minim veniam, quis nostrud exerci tation ullamcorp
				</div>
				</div>
				<div class="info">
					<div class="img l">
						<img src="img/autor.png" alt="">
					</div>
					<div class="sub__info l">
						<div class="name">Александр Никифоров</div>
					<div class="role">Решение спора  по ДТП</div>
					</div>	
					
				</div>
			</div>
			</div>
		</div>
		<div class="outside">
    <p><span id="slider-prev"></span>  <span id="slider-next"></span>

    </p>
</div>
	</div>
</div>