<div class="steps">
	<div class="container">
		<div class="step__list r">
			<div class="step__list_item">
				<div class="number">
					1
				</div>
				<div class="content">
					<div class="text">
						Оптимальная стоимость услуги, которая не меняется в процессе сотрудничества
					</div>
				</div>
			</div>
					<div class="step__list_item">
				<div class="number">
					2
				</div>
				<div class="content">
					<div class="text">
						Вы получаете гарантии, четко прописанные в Договоре
					</div>
				</div>
			</div>
					<div class="step__list_item">
				<div class="number">
					3
				</div>
				<div class="content">
					<div class="text">
						Говорим правду! Если мы считаем, что спор будет проигран, честно скажем об этом на бесплатной консультации
					</div>
				</div>
			</div>
					<div class="step__list_item">
				<div class="number">
					4
				</div>
				<div class="content">
					<div class="text">
						Вам не нужно тратить свое время на участие в судах и заседаниях, мы все сделаем за Вас
					</div>
				</div>
			</div>
					<div class="step__list_item">
				<div class="number">
					5
				</div>
				<div class="content">
					<div class="text">
						Всегда предлагаем несколько вариантов решения Вашего вопроса
					</div>
				</div>
			</div>
					<div class="step__list_item">
				<div class="number">
					6
				</div>
				<div class="content">
					<div class="text">
						Вы всегда получаете информацию по своему делу максимально оперативно
					</div>
				</div>
			</div>
					<div class="step__list_item">
				<div class="number">
					7
				</div>
				<div class="content">
					<div class="text">
						Бесплатная консультация
					</div>
				</div>
			</div>
					<div class="step__list_item">
				<div class="number">
					8
				</div>
				<div class="content">
					<div class="text">
						Проводим встречи и переговоры с Вами в удобном месте и в удобное время
					</div>
				</div>
			</div>

			
		</div>
	</div>
</div>