<div class="works">
	<div class="container">
		<div class="title">
			Как мы работаем
		</div>
		<div class="list">
			<div class="row">
			<div class="col">
				<div class="list__item">
					<div class="icons">
						<img src="img/phones.png" alt="" class="phone">
					</div>
					<div class="text">
						Оставляете заявку </br> или звоните нам
					</div>
				</div>

			</div>
			<div class="col">
				<div class="list__item">
					<div class="icons">
						<img src="img/book.png" alt="" class="book">
					</div>
					<div class="text">
						Изучаем Вашу проблему и </br> предлагаем варианты решений
					</div>
				</div>

			</div>
			<div class="col">
				<div class="list__item">
					<div class="icons">
						<img src="img/cup.png" alt="" class="cup">
					</div>
					<div class="text">Вы выигрываете!</div>
				</div>

			</div>
				
			</div>
			<div class="row">
				<div class="col">
				<div class="list__item">
					<div class="icons">
						<img src="img/clock.png" alt="" class="clock">
					</div>
					<div class="text">
						Назначаем время бесплатной </br> консультации
					</div>
				</div>

			</div>
			<div class="col">
				<div class="list__item">
					<div class="icons">
						<img src="img/vesa.png" alt="" class="vesa">
					</div>
					<div class="text">
						Вы занимаетесь своими делами, а мы </br> участвуем в судебных заседаниях
					</div>
				</div>

			</div>
			</div>
		</div>
	</div>
</div>